@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');

:root {
    --backgroud: #000000;
    --bodybkgrn: #f1e4e4;
    --primary: #272727;
    --secondary: #B1B3B3;
    --fontcolor: #fff;
    --fontfamlyAux: 'Roboto', sans-serif;
    --pantoneBlue: #10069f;
    --pantone: rgb(75, 164, 205);
    --pantone2: #0085ca;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #fff;
    /* font-family: 'Roboto', sans-serif; */
}

h2 {
    color: #141414;
    font-weight: 400;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

.container img {
    margin: 0 auto;
    width: 250px;

}

.container h6 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: light;

}

.container h4 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav {
    background: #000000;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 80px;
    /* position: fixed; */
}

.nav__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 15px;
    width: 120px;
}

.nav__conteiner {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.nav__items {
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__items::after {
    content: "";
    display: block;
    background: #fff;
    font-weight: 300;
    font-size: 24;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: .2s;
}

.nav__items:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 1% 100%);

}

.nav__label,
.nav__input {
    display: none;
}

#hero__container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #000, #141414);
    /* background: #000; */

    gap: 5px;
}

/* 
#hero__container h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 48px;
} */

#hero__container p {
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#hero__container h3 {
    color: #fff;
    gap: 5px;
}

/* .hero-text h4{
    justify-content: center;
    text-align: center;
    width: 100%;
} */

.container .clima {
    width: 100%;
    margin-bottom: 0;

}

.cards {
    max-width: 1000px;
}

#contenedor__articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: top;
    column-gap: 20px;
    width: 95%;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding: 25px;
}

.articulos {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    color: #272727;
    font-weight: 200;
    text-align: left;
    /* border-radius: 1rem; */
    /* margin-top: 5px; */
    /* margin-bottom: 50px; */
    padding: 5px 20px;
    /* -webkit-box-shadow: 0px 5px 15px 0px rgba(19, 0, 124, 0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(48, 9, 139, 0.54);
    box-shadow: 0px 5px 15px 0px rgba(9, 1, 78, 0.54); */

}

.articos2 {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    /* background: #ebebeb; */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(49, 49, 49);
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
}

.articos2 h2 {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: light;
}
.articos2 p {
    justify-items: center;
    align-items: center;
    text-align: justify;
    font-size: 14px;
    font-style: light;
}

.articos2 img {
    justify-content: center;
    align-items: center;
    height: 80px;
}

.article__img1 {
    display: flex;
    justify-items: center;
    width: 80%;
}

.article2__img {
    height: 200px;
    gap: 15px;
}

/* .sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgb(112 112 112 / 54%);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    box-shadow: 0px 5px 15px 0px rgb(112 112 112 / 54%);
    padding: 10rem;
    border-radius: 1rem;
} */

.sombra {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 90%;
    background: #fff;
    font-weight: 200;
    font-size: 18px;
    text-align: left;
    color: #141414;
    border-radius: 1rem;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(77, 76, 76, 0.54);
    -moz-box-shadow: 0px 5px 20px 0px rgba(75, 74, 74, 0.54);
    box-shadow: 0px 5px 20px 0px rgba(46, 46, 46, 0.54);
}

.img__side {
    width: 90%;
}

footer {
    background-color: #000;
    margin-top: 20px;
    padding: 30px;
    justify-items: center;
    align-items: center;

}

footer p {
    color: #9c9c9c;
    font-style: light;
    width: 100;
    font-size: 12px;
    align-items: center;
    text-align: center;
}

.redes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}